main.main {
    width: 100%;
    height: auto;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    .main__container {
        max-width: 1200px;
        margin: 0 auto;
    }
}